<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalReports.Engine" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4001" targetFramework="net452" />
  <package id="CrystalReports.Shared" version="13.0.4001" targetFramework="net452" />
  <package id="Emgu.CV" version="4.5.5.4823" targetFramework="net48" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net48" />
  <package id="Enums.NET" version="4.0.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.21.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Lyncee.OpenTK" version="1.1.1173.43181" targetFramework="net452" />
  <package id="Lyncee.OpenTK.Compatibility" version="1.1.1173.43181" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.27" targetFramework="net48" requireReinstallation="true" />
  <package id="MySqlBackup" version="1.0.1" targetFramework="net452" />
  <package id="MySqlBackup.NET" version="2.3.6.1" targetFramework="net48" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net48" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net48" />
</packages>